/* Recipe Shit */
html {
  background-color: maroon;
  overflow-x: hidden;
  overflow-y: visible;
}

#aRecipes {
  font-family: cursive;
  letter-spacing: -5px;
  font-style: italic;
  font-size: 50px;
  margin: -10px -10px;
  padding-left: 10px;
  background-color: white;
}

main {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  width: 1000px;
  margin: -28px auto;
  padding: 20px 75px;
  border-radius: 10px;
}

.mainNav {
  margin-bottom: 50px;
  margin-top: -60px;
  font-size: 20px;
  text-align: center;
}

.navE {
  float: right;
  list-style-type: none;
  letter-spacing: normal;
  margin-right: 10px;
}

.navE,
a {
  text-decoration: none;
  color: maroon;
}

.navE,
a:hover {
  color: brown;
}

hr {
  margin-top: 75px !important;
  margin-left: -20px !important;
  color: black;
  border: 2px solid black;
}

.pbjH1 {
  color: maroon;
}

.pbjH1,
.pbjH2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pbjHyper {
  color: maroon;
  text-decoration: none;
}

#pbjHyper:hover {
  text-decoration: underline;
}

.PBJ {
  display: block;
  width: 350px;
  float: right;
  border: 2px solid black;
  border-radius: 5px;
}

.PBJ2 {
  display: block;
  width: 250px;
  float: left;
  border: 2px solid black;
  margin-right: 4px;
  border-radius: 5px;
}

.PBJ3 {
  display: block;
  margin-top: 50px;
  margin-right: 50px;
  width: 200px;
  float: right;
  border: 2px solid black;
  border-radius: 5px;
}
